/*.pdsync
/*.pdsyncu
*.suo
*.ncb
*.user
*.pdsync
*.pdsyncu
*.obj
*.pdb
*.aps
/DuiMsg/DuiMsg.vcproj.MOYZ-PC.lenovo.user
/DuiMsg/DuiMsg.vcproj.pdsync
/DuiMsg/DuiMsg.vcproj.pdsyncu
Debug
Debug
/PCRETest/PCRETest.vcproj.pdsync
/PCRETest/PCRETest.vcproj.pdsyncu
/PCRETest/PCRETest.vcproj.MOYZ-PC.lenovo.user
/RDCoder/Debug
Release
bin
log
enc_temp_folder
img
RongDian/res/custom
