/*.pdsync
/*.pdsyncu
/RongDian.suo
/RongDian.ncb
/DuiMsg/DuiMsg.vcproj.MOYZ-PC.lenovo.user
/DuiMsg/DuiMsg.vcproj.pdsync
/DuiMsg/DuiMsg.vcproj.pdsyncu
Debug
Debug
/PCRETest/PCRETest.vcproj.pdsync
/PCRETest/PCRETest.vcproj.pdsyncu
/PCRETest/PCRETest.vcproj.MOYZ-PC.lenovo.user
/RDCoder/Debug
*.user
*.pdsync
*.pdsyncu
Release
bin
log
enc_temp_folder
img
